
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
font-family: sans-serif;
min-height: 7.5vh;
background-color: black;
padding: 5px;
margin: 30px 30px;
}

.nav-logo img{
width: 200px;
vertical-align: middle;
padding-left: 20px;
}

.nav-links{
display: flex;
}

.nav-links li{
list-style: none;
}

.nav-links li a{
color: white;
text-decoration: none;
letter-spacing: 2px;
font-size: 15px;
margin-left: 50px;
transition: 0.5s;
}

.nav-links li a:hover{
background-color: rgb(59, 152, 180);
color: rgb(216, 57, 57);
}

.nav-mobile{
display: none;
}

.nav-mobile div{
width: 25px;
height: 2.5px;
background-color: white;
margin: 5px;
}

@media only screen and (max-width: 992px){
body{
overflow-x: hidden;
}
.nav-links{
position: absolute;
right: 0px;
left: 7.5vh;
height: 92.5vh;
background-color: black;
width: 100%; /* Corrected this line */
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 10vh 0 30vh 0;
transform: translate(100%);
transition: transform 0.5s ease; /* Corrected this line */
}
.nav-links li a{
margin-left: 0px;
}

.nav-mobile{
display: block;
cursor: pointer;
}
.nav-links li{
opacity: 1; /* Ensure the text is visible */
}
}

.nav-active{
transform: translate(0%);
}

@media only screen and (min-width: 993px) and (max-width: 1199px){
.nav-links li a{
margin-left: 20px;
}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px){
.nav-links li a {
margin-left: 35px;
}
}

@keyframes navLinkFade{
from{
opacity: 0;
transform: translateX(50px);
}
to {
opacity: 1;
transform: translateX(0);
}
}

















